@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FoodOrderingSystem.Models.OrderList
<h1>AddCard</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4 mx-auto">
            <form asp-action="AddCard" method="post">
                <lable>Item</lable>
                <input  asp-for="Item" class="form-control" value="@ViewBag.var1" />
                <br />
                <lable>Quantity</lable>
                <input asp-for="Quantity" class="form-control" />
                <span style="color:red" asp-validation-for="Quantity"></span>
                <br />
                <label>Price</label>
                <input  asp-for="TotalPrice" class="form-control" value="@ViewBag.var2" />
                <br />
                <input type="submit" value="ADD" /><br /><br />
                <a asp-controller="Chinese" asp-action="Index">Back</a>
            </form>
        </div>
    </div>
</div>